html, body, section {
  height: 100%;
}

body {
  font-family: sans-serif;
  
}

.body {
    display: flex;
}

.rightSide {
    background-color: red;
    flex: 3;
    padding: 20rem;

}

.leftSide {

    background-color: blue;
    flex: 1;
    padding: 10rem;
}

.banner {
    background-color: #DBEFFE;
}

a {
    color: #5C3027;
    font-size: 20px;
    padding-top: 10px;
    text-shadow: 0 2px 2px #b6701e;
}

.rightLink {
    padding-right: 20px;
    padding-top: 10px;
    float: right;
}

h1 {
    font-size: 60px;
    text-shadow: 0 2px 2px #b6701e;
    color: #5C3027;
    margin-top: 2px;
    margin-bottom: 0px;
    position: center;
    width:100%;
    display:flex;
    justify-content: center;
}
